body{
    font-family: Roboto, sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair display',serif;
}

.ImagePrinci{
    background-image: url(../assets/26-1500x300.jpg);
    background-size:cover;
}